<div class="container">
  <form class="mt-5"  #RegisterForm="ngForm" (ngSubmit)="onSubmit(RegisterForm)">
    <div class="form-group">
      <label for="Name">User Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="User name" [(ngModel)]="UsersData.name">
    </div>
    <div class="form-group mt-3">
      <label for="Email">Email address</label>
      <input type="email" class="form-control" id="email" name="email"  placeholder="Enter email"  [(ngModel)]="UsersData.email">
    </div>
    <div class="form-group mt-3">
      <label for="Email">Password</label>
      <input type="password" class="form-control" id="password"  name="password" placeholder="Enter password"  [(ngModel)]="UsersData.password">
    </div>
    <div class="form-group mt-3">
      <label for="Name">Mobile Number</label>
      <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" placeholder="Mobile Number"  [(ngModel)]="UsersData.mobileNumber">
    </div>

    <div class=" float-end mt-4" >
      <a  (click)="addNewDiv()" style=> <i class="fa fa-plus-square" style="font-size:36px;color:red"></i></a>
    </div>
      <article *ngFor="let placedata of UsersData.address;let i=index">
        {{placedata |json}}
        <div class="row">
          <div class="form-group mt-3 col-md-3" >
            <label for="Address">Address Line1</label>
            <input type="text" class="form-control" id="addressLine1" name="addressLine1" placeholder="Address line 1"   [(ngModel)]="placedata.addressLine1">
          </div>
          <div class="form-group mt-3 col-md-3">
            <label for="Address">Address Line2</label>
            <input type="text" class="form-control" id="addressLine2" name="addressLine2" placeholder="Address line 2"  [(ngModel)]="placedata.addressLine2">
          </div>
          <div class="form-group mt-3 col-md-3">
            <label for="Country">Country</label>
            <input type="text" class="form-control" id="country" name="country"  placeholder="country"   [(ngModel)]="placedata.country">
          </div>
          <div class="form-group mt-3 col-md-2">
            <label for="State">State</label>
            <input type="text" class="form-control" id="state"  placeholder="state" name="state" [(ngModel)]="placedata.state">
          </div>
          <div class=" col-md-1">
            <!-- <a  (click)="removeAddress(i)" style="font-size:24px"><i class="fa fa-minus-square"></i></a> -->
          </div>
       
      </div>

      {{UsersData.address | json}}
        
      </article>
     
     
    <button type="submit" class="btn btn-primary mt-3 mx-5">Submit</button>
  </form>
</div>

